-bclass="bequipement"
include head
.content.equipement
	header#slide
		<img src="http://beaujean.s3-website-us-east-1.amazonaws.com/equip0.jpg">
		<img src="http://beaujean.s3-website-us-east-1.amazonaws.com/equip1.jpg">
		<img src="http://beaujean.s3-website-us-east-1.amazonaws.com/equip2.jpg">
	.left.module
		h2 Remorques Réfrigérées 53'
		| Disponibles avec:
		ul
			li Essieux tandem <img src="reefer.jpg" style="float:right">
			li Essieux tridem
			li Portes battantes
			li Portes roulantes
			li Suspension a air
			li Interieur logistique (en option)
		| Unité de réfrigération:
		ul
			li Thermo-King
			li Carrier

	.right.module
		h2 Remorques sèches 53'
		| Disponibles avec:
		ul
			li Essieux Tandem
			li Essieux Tridem
			li Portes battantes
			li Portes roulantes
			li Suspension a air
			li Interieur logistique
		h2 REMORQUES DE VILLE
		h2 REMORQUE D'ENTREPOSAGE


include footer