-bclass="bequipement"
include head
.content.equipement
	header#slide
		<img src="http://farm9.staticflickr.com/8328/8139058384_037a085ef6_b.jpg">
		<img src="http://farm9.staticflickr.com/8470/8139058246_fb3380c382_h.jpg">
		<img src="http://farm9.staticflickr.com/8336/8139027057_e2c4383da2_h.jpg">
	.left.module
		h2 Remorques Réfrigérées 53'
		| Disponibles avec:
		ul
			li Essieux tandem <img src="reefer.jpg" style="float:right">
			li Essieux tridem
			li Portes battantes
			li Portes roulantes
			li Suspension a aire
			li Interieur logistique (en option)
		| Unité de réfrigération:
		ul
			li Thermo-King
			li Carrier

	.right.module
		h2 Remorques sèches 53'
		| Disponibles avec:
		ul
			li Essieux Tandem
			li Essieux Tridem
			li Portes battantes
			li Portes roulantes
			li Suspension a aire
			li Interieur logistique
		h2 REMORQUES DE VILLE
		h2 REMORQUE D'ENTREPOSAGE


include footer