-bclass="bindex"
include head
.content.home
	header#slide
		<img src="http://beaujean.s3-website-us-east-1.amazonaws.com/home1-2.jpg">
		<img src="http://beaujean.s3-website-us-east-1.amazonaws.com/home2.jpg">
		<img src="http://beaujean.s3-website-us-east-1.amazonaws.com/home3.jpg">
		<img src="http://beaujean.s3-website-us-east-1.amazonaws.com/home4.jpg">
	.left.module
		h2 Entreprise
		p
			|Plus de 35 ans d'expérience.
			|Jean Beaudry est de retour dans la location de remorques.
			address
				img(src="http://beaujean.s3-website-us-east-1.amazonaws.com/beaudry.jpg")
				h4 Jean Beaudry
				h5 Président
				p poste 140
				p cell. 514 895-6246
				p: a(href="mailto:jbeaudry@locationbeaujean.com") jbeaudry@locationbeaujean.com
			address
				img(src="http://beaujean.s3-website-us-east-1.amazonaws.com/lemay.jpg")
				h4 Christian Lemay
				h5 Directeur financier CPA, CA
				p poste 144
				p: a(href="mailto:clemay@locationbeaujean.com") clemay@locationbeaujean.com
			address
				img(src="http://beaujean.s3-website-us-east-1.amazonaws.com/lalonde.jpg")
				h4 François Lalonde
				h5 Directeur de location
				p poste 146
				p cell. 514 704-4167
				p: a(href="mailto:flalonde@locationbeaujean.com") flalonde@locationbeaujean.com
			address
				img(src="http://beaujean.s3-website-us-east-1.amazonaws.com/spada.jpg")
				h4 Michel Spada
				h5 Directeur de comptes (Senior)
				p poste 149
				p cell. 514 348-8553
				p: a(href="mailto:mspada@locationbeaujean.com") mspada@locationbeaujean.com
			address
				img(src="http://farm6.staticflickr.com/5520/10404243096_09e8c156f7.jpg")
				h4 Serge Olivier
				h5 Directeur de la flotte
				p poste 126
				p: a(href="mailto:solivier@locationbeaujean.com") solivier@locationbeaujean.com
			address
				img(src="http://beaujean.s3-website-us-east-1.amazonaws.com/proulx.jpg")
				h4 Nathalie Proulx
				h5 Directrice de comptes
				p cell. 514 974-2424
				p: a(href="mailto:nproulx@locationbeaujean.com") nproulx@locationbeaujean.com

	address.right.module
		h2 Contact
		p
			| Tél:		<span>514 645-7070</span>
			<br>Fax:	<span>514 640-4442</span>
			<br><iframe frameborder="0" scrolling="no" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=fr&amp;geocode=&amp;q=12305+Boulevard+M%C3%A9tropolitain+Est,+Montr%C3%A9al,+QC,+Canada&amp;aq=0&amp;oq=12305+boul.+m%C3%A9tropolitain&amp;sll=37.0625,-95.677068&amp;sspn=48.50801,76.728516&amp;ie=UTF8&amp;hq=&amp;hnear=12305+Boulevard+M%C3%A9tropolitain+Est,+Pointe-aux-Trembles,+Qu%C3%A9bec+H1B+5R3,+Canada&amp;ll=45.6518,-73.525581&amp;spn=0.021059,0.037465&amp;t=m&amp;z=14&amp;output=embed"></iframe>
			<br>12305 boul. Métropolitain Est
			<br>Montréal (Québec) H1B 5R3
		h2 Ouverture de compte
		a(href="form.pdf") Téléchargez le formulaire
		|  (format pdf)

include footer

