-bclass="bservice"
include head
.content.service
	header#slide
		<img src="http://farm9.staticflickr.com/8470/8139057316_84a26a30bb_b.jpg">
		<img src="http://farm9.staticflickr.com/8047/8139026321_970530dce9_b.jpg">
		<img src="http://farm9.staticflickr.com/8054/8139056870_772075e2bb_h.jpg">
	.left.module
		h2 Location court terme
		|Avantages:
		ul
			li Unité mobile de service d'entretien 24 par jour, 7 jours sur 7.
			li Utilisation optimale de votre flotte
			li Satisfait les demandes et fluctuations du marché
			li Flexibilité et efficacité
			li développement de nouveaux marchés
			li Équipement de qualité certifié
		h2 Stationnement sécuritaire
		ul
			li De plus nous possèdons une cour de stationnement de 150 places pour entreposer vos remorques.
			//Jusqu'à 150 espaces disponibles à louer pour votre équipement.
		p
			img(src="parking.jpg", style="max-width:90% !important;width:90% !important")
	.right.module
		h2 Location long terme
		|Avantages:
		ul
			li Unité mobile de service d'entretien 24 par jour, 7 jours sur 7.
			li Disponible en location "Maintenance Complète" ou "Net / Net " 
			li Paiements déductibles d'impôts
			li Pas de mise de fond
			li Paiements fixes au cours du terme
			li Technologie et spécifications récentes
			li Prix réduit de maintenance associé avec équipement neuf
			li Programme de maintenance préventive pour "Maintenance Complète"
			li Unité de remplacement
			li L'équipement peut être personnalisé selon vos besoins
			li L'équipement peut être lettré avec votre logo
			li Pas de riques associés à la valeur résiduelle de l'équipement



include footer