* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  position: relative;
}
img {
  max-width: 100%;
  border: none;
}
address {
  width: 100%;
}
html {
  font-family: 'Oswald', "Helvetica Neue", sans-serif;
  font-size: 18px;
}
body {
  margin: 0;
  color: #333;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
}
body .pagewrap {
  background: url("bg.svg") bottom left no-repeat;
}
h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
  text-shadow: 0 1px 0 #fff;
  line-height: 1.8em;
}
p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
a {
  color: #2a6db0;
  text-decoration: underline;
}
a:active {
  color: #41b7d8;
}
p,
address,
ul,
footer {
  line-height: 1.8em;
  font-style: normal;
}
p img,
ul img {
  border: solid 0.5em #fff;
  margin-left: 1em;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
  width: 50%;
  max-width: 200px;
}
iframe {
  border: solid 0.5em #fff;
  width: 100%;
  height: 300px;
  margin: 1em 0;
}
::selection {
  background: rgba(42,109,176,0.5);
  text-shadow: none;
}
a::selection {
  color: #fff;
}
aside,
.content,
aside nav,
header,
footer,
.module,
footer>ul {
  display: inline-block;
  vertical-align: top;
  padding: 2em;
  width: 100%;
}
aside nav,
header,
p img,
ul img,
iframe,
footer,
.footlink,
.home .left address,
.ad {
  -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.15);
  box-shadow: 0 0 6px rgba(0,0,0,0.15);
}
.pagewrap>header>img {
  margin-bottom: -30%;
  width: 100%;
}
.pagewrap>header {
  overflow: hidden;
  display: none;
}
aside {
  width: 33.3%;
  padding-right: 0;
}
aside h1 {
  text-align: center;
}
aside nav {
  background: #eee;
  z-index: 1;
  padding: 0.8em 1em;
  border-right: solid 1.5em #ddd;
}
aside nav a {
  display: block;
  width: 100%;
  color: #000;
  text-decoration: none;
  text-shadow: 0 1px 0 #eee;
  padding: 0.8em 0;
}
aside nav a:before {
  content: "";
  display: inline-block;
  margin-right: 1em;
  background: #ccc;
  width: 16px;
  height: 16px;
  -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.15);
  box-shadow: 0 0 6px rgba(0,0,0,0.15);
}
aside nav a:hover:not(:active) {
  color: #2a6db0;
  text-decoration: underline;
}
.ad {
  margin-top: 2em;
}
.mobilead {
  display: none;
  margin-top: 0;
}
.bindex nav a:nth-child(1):before,
.bservice nav a:nth-child(2):before,
.bequipement nav a:nth-child(3):before {
  background: #2a6db0;
  -webkit-box-shadow: 0 0 6px rgba(42,109,176,0.7);
  box-shadow: 0 0 6px rgba(42,109,176,0.7);
}
.bindex nav a:nth-child(1):after,
.bservice nav a:nth-child(2):after,
.bequipement nav a:nth-child(3):after {
  content: "";
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  top: 0.8em;
  right: -1.7em;
  border: solid 0.8em transparent;
  border-left: solid 0.8em #eee;
  border-right: none;
}
.content {
  width: 66.6%;
}
.content header {
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  background: #2a6db0;
  padding: 0;
  margin-bottom: 2em;
  border: solid 0.5em #fff;
}
.content header:after {
  content: "";
  display: block;
  margin-top: 44%;
  height: 0;
  width: 100%;
}
.content header img {
  width: 100%;
  position: absolute;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  -ms-transition: opacity 1s;
  transition: opacity 1s;
}
.content .left,
.content .right {
  width: 50%;
}
.content .left {
  padding: 0px;
  padding-right: 1em;
}
.content .right {
  padding: 0px;
  padding-left: 1em;
}
footer {
  text-align: center;
  font-size: 12px;
  color: #aaa;
  background: #eee;
  text-shadow: 0 1px 0 #fff;
  border-bottom: solid 20px #ddd;
}
footer p {
  margin: 0;
  margin-top: 1em;
}
footer p.first {
  margin: 0;
  margin-bottom: 1em;
}
footer .footlink {
  display: inline-block;
  width: auto;
  height: auto;
  overflow: hidden;
  margin: 5px;
  margin-top: 0;
  border: solid 5px #fff;
  background: #fff;
}
footer .footlink img {
  width: auto;
  height: 72px;
  padding: 0;
  display: block;
}
footer .footlink .txt {
  position: absolute;
  top: 400px;
}
.home.content>address span {
  position: absolute;
  left: 50px;
}
.home .left address {
  border: solid 0.5em #fff;
  background: #fff;
  display: inline-block;
}
.home .left address img {
  width: 30%;
  float: left;
  margin-right: 0.5em;
}
.home .left address h4,
.home .left address h5,
.home .left address p {
  margin: 0;
  text-transform: none;
}
.home .left address+address {
  margin-top: 0.5em;
}
.home.content header:after {
  margin-top: 58%;
}
@media screen and (max-width: 1000px) {
  html {
    font-size: 16px;
  }
}
@media screen and (max-width: 888px) {
  html {
    font-size: 18px;
  }
  aside,
  .content {
    width: 100%;
  }
  .pagewrap>header {
    display: inline-block;
    padding: 0;
  }
  .content header {
    display: none;
  }
  aside {
    padding: 0;
  }
  aside h1 {
    display: none;
  }
  aside nav {
    padding: 0;
  }
  aside nav a {
    display: inline-block;
    width: auto;
    padding-left: 1em;
  }
  aside img {
    max-width: 70%;
  }
  aside ul {
    display: none;
  }
  .ad {
    display: none;
  }
  .mobilead {
    display: inline-block;
  }
}
@media screen and (max-width: 700px) {
  html {
    font-size: 16px;
  }
}
@media screen and (max-width: 622px) {
  html {
    font-size: 18px;
  }
  .content .module {
    width: 100%;
  }
  .content .left {
    padding: 0;
  }
  .content .right {
    padding: 0;
  }
}
.content header {
  margin: 0 !important;
}
@media screen and (max-width: 520px) {
  aside nav a {
    width: 50%;
    padding: 0;
    padding-left: 1em;
  }
  aside nav {
    padding: 0.3em 0;
  }
}
